.delius-swash-caps-regular {
    font-family: "Delius Swash Caps", cursive;
    font-weight: 500;
    font-style: normal;
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

div {
    font-style: italic;
    font-size: 18px;
}

body {

    background-color: #A68B6A;
    position: relative;
}

header {
    display: flex;
    position: relative;
    width: 1500px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background-color: #592723;
    border: 1px solid black;
    padding: 15px;
    margin-top: 5px;

}



h1 {
    text-align: center;
    color: #D9C196;
    font-family: "Delius Swash Caps";
    font-style: bold;
    font-size: 45px;
}



#boardBody {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    gap: 113px;
    align-items: center;
    max-width: 1500px;
    min-width: 1500px;
    /* justify-content: space-evenly; */
}


#message {
    font-size: 35px;
    font-family: "Delius Swash Caps";
    margin-top: -780px;
    margin-bottom: 0;
    font-style: italic;
    align-items: flex-start;
    order: top;
    background-color: #592723;
    padding: 15px;
    width: 710px;
    height: 50px;
    text-align: center;
    color: #BF665E;

}

#instructions {
    display: flex;
    flex-direction: column;
    font-family: "Outfit";
    margin-top: 100px;
    margin-left: 30px;
    font-size: 20px;
    width: 290px;
    border: 3px solid #592723;
    padding: 13px;
    align-self: flex-start;
    list-style-type: none;
    line-height: 1.8;
    align-items: center;

}

#board {
    display: flex;
    /* position: relative; */
    flex-direction: column;
    align-content: center;

}

#game-board {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 700px;
    height: 700px;
    border: 20px solid #592723;
    align-self: center;
    margin-top: -110px;

}

.square {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
}

.cell {
    border: 1px solid black;
    background-color: #F2F2F2;
}


.square .cell {
    font-size: 45px;
    text-align: center;
    font-family: "Delius Swash Caps";
    padding: 10px 0;
    font-style: normal;
}


#numberRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 719px;
    background-color: #592723;
    padding: 10px;
    margin-top: -110px;


}

.numBtn {

    font-size: 30px;
    font-family: "Delius Swash Caps";
    width: 75px;
    height: 75px;
    background-color: #D9C196;

}

#rightColumn {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    margin-top: -313px;
    margin-right: 258px;
    background-color: #592723;
    height: 200px;
    width: 120px;
}

.button {
    width: 75px;
    height: 60px;
    border-radius: .2px;
    font-size: 25px;
    font-family: "Outfit";
    background-color: #BF665E;
}

.highlight {
    background-color: #D9C196;
}